*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
#main{
    background: url('./media/img/backgroundimg.png') fixed;
    background-position: center;
}

ul, ol, li{
    list-style: none;
}
::-webkit-scrollbar {
    width: 0rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* * {
  scrollbar-width: 2rem;
} */
