*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
#main{
    background: url('./media/img/backgroundimg.png') fixed;
    background-position: center;
}

ul, ol, li{
    list-style: none;
}